<h2>TCO Waste Manifest</h2>
<p>Manifest number</p>
<h3>000000-2023 ?</h3>

<div>
    <mat-grid-list class="filled-list" cols="4">
        <mat-grid-tile>
            <div class="blue-point">
                Filled in by a representative of the waste generator
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="red-point">
                Filled in by a representative of the waste generator if waste to be transferred to 3rd party
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="yellow-point">
                Filled in by a driver - waste transporter
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="purple-point">
                Filled in by a representative of the waste store facility
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="blue-form-container">
        <mat-grid-list class="filled-list" cols="4">
            <mat-grid-tile>
                <div class="field">
                    <mat-label>First name</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="field">
                    <mat-label>First name</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="field">
                    <mat-label>First name</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="field">
                    <mat-label>First name</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="field">
            <mat-label>First name</mat-label>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </div>
        <div class="field">
            <mat-label>First name</mat-label>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </div>
        <div class="field">
            <mat-label>First name</mat-label>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </div>
        <div class="field">
            <mat-label>First name</mat-label>
            <mat-form-field appearance="outline">
                <input matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="yellow-form-container">
        <mat-grid-list class="filled-list" cols="2">
            <mat-grid-tile>
                <div class="field">
                    <mat-label>First name</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="field">
                    <mat-label>First name</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="purple-form-container">
        <mat-grid-list class="filled-list" cols="2">
            <mat-grid-tile>
                <div class="field">
                    <mat-label>First name</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="field">
                    <mat-label>First name</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>


